{% load static %}
<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#721c24">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Genome Visualizer</title>
        <link rel="stylesheet" href="{% static 'mdl/material.min.css' %}">
        <script src="{% static 'mdl/material.min.js' %}"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">	
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <style>
            .mdl-layout-title {
            	color: #721c24;
            	font-weight: bold;
            }
            
            #view-source {
              position: fixed;
              display: block;
              right: 0;
              bottom: 0;
              margin-right: 40px;
              margin-bottom: 40px;
              z-index: 900;
            }
    
            #new-application-table td {
            	    border-top: 0px solid rgba(0,0,0,.12);
            		border-bottom: 0px solid rgba(0,0,0,.12);
            		text-align: left;
            		line-height: 40px !important;
            		vertical-align: middle !important;
            }
    
            #new-application-table th {
            	    border-top: 0px solid rgba(0,0,0,.12);
            		border-bottom: 0px solid rgba(0,0,0,.12);
            		line-height: 40px !important;
            		vertical-align: middle !important;
            }
        </style>
    </head>
    <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall" style="color: blue">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            Genome Visualizer
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="index.htm">Dashboard</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="pending.htm">Pending</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="Analyzed.htm">Analyzed</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="closed.htm">Closed</a>
            </nav>
          </div>
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">Logout</li>
          </ul>
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          Genome Visualizer
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="index.htm">Dashboard</a>
          <a class="mdl-navigation__link" href="pending.htm">Pending</a>
          <a class="mdl-navigation__link" href="analyzed.htm">Analyzed</a>
          <a class="mdl-navigation__link" href="closed.htm">Closed</a>
          <div class="android-drawer-separator"></div>
        </nav>
      </div>
      <div class="android-content mdl-layout__content">
        <a name="top"></a>
            <div>
        		<div class="mdl-grid demo-content">
            		    <div class="mdl-cell--12-col mdl-grid">
                              <div class="mdl-cell--12-col mdl-grid">
                                <div class="mdl-cell--9 ml-sm-auto" style="margin-top:-40px;">
                                    <svg width="1000" height="600">
                                      </svg>
                                </div>
        <div class="mdl-cell--3 table table-bordered">
          <table>
            <thead>
              <tr>
                <th>Band Name</th>
                <th>Color</th>
              </tr>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td>gneg</td>
                <td style="background-color:#9d1cb2"> </td>
              </tr>
              <tr>
                <td>gpos25</td>
                <td style="background-color:#cdde20"> </td>
              </tr>
              <tr>
                <td>gpos50</td>
                <td style="background-color:#ffc200"> </td>
              </tr>
              <tr>
                <td>gpos75</td>
                <td style="background-color:#ff9900"> </td>
              </tr>
              <tr>
                <td>gpos100</td>
                <td style="background-color:#7a5547"> </td>
              </tr>
              <tr>
                <td>acen</td>
                <td style="background-color:#5f7d8c"> </td>
              </tr>
              <tr>
                <td>gvar</td>
                <td style="background-color:#9e9e9e"> </td>
              </tr>
              <tr>
                <td>stalk</td>
                <td style="background-color:#ec1261"> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Graphs -->
    <script src={% static "d3/d3.v4.min.js" %} type="text/javascript"></script>
    <script src={% static "jquery/jquery-3.3.1.js" %} type="text/javascript"></script>
    
<script>

var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

var x = d3.scaleLinear().rangeRound([0, width]),
    y = d3.scaleBand().rangeRound([height, 0]).padding(0.1);

var g = svg.append("g")
    .attr("id", "chart")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    

function loadData(key, from_url, into_var, loaded_data) {
    let dataPromise = new Promise(function(resolve, reject) {
        d3.json(from_url, function(error, data) {
            if (error) {
                reject ("Can't load data from " + from_url);
                return;
            }
            resolve(data);
        });
    });
   
   dataPromise.then(
       result => {
           loaded_data[key] = result;
           displayGraph(loaded_data);
    }); 
}

function renderChrom(loaded_data) {
    renderPQ(loaded_data)
}

function renderPQ(loaded_data) {
    pqData = loaded_data["pqArmData"];
    p_arm_g = g.append("g").attr('class', "p-arm");
    q_arm_g = g.append("g").attr('class', "q-arm"); 
    p_arms = p_arm_g.selectAll("line")
        .data(pqData)
        .enter()
        .append("line")
        .attr("class", "bar")
        .attr("x1",  y.bandwidth()/2)
        .attr("y1", function(d, i) {return y(d.chrom) + y.bandwidth()/2; })
        .attr("y2", function(d, i) {return y(d.chrom) + y.bandwidth()/2; })
        .attr("x2", 0)
        .style("stroke-width", y.bandwidth())
        .attr("stroke-linecap", "round")
        .attr("stroke", "#00bcd6");


        p_arms.transition()
        .ease(d3.easeLinear)
        .duration(function(d){return x(d.chromEnd_x)})
        .attr("x2", function(d) {return x(d.chromEnd_x) - y.bandwidth()/2});
        
    q_arms = q_arm_g.selectAll("line")
        .data(pqData)
        .enter()
        .append("line")
        .attr("class", "bar")
        .attr("x1",  function(d) {return x(d.chromEnd_x) + y.bandwidth()/2})
        .attr("y1", function(d, i) {return y(d.chrom) + y.bandwidth()/2; })
        .attr("y2", function(d, i) {return y(d.chrom) + y.bandwidth()/2; })
        .attr("x2", function(d) {return x(d.chromEnd_x) - y.bandwidth()/2})
        .style("stroke-width", y.bandwidth())
        .attr("stroke-linecap", "round")
        .attr("stroke", "#3f4eb8");

    q_arms.transition()
        .ease(d3.easeLinear)
        .duration(function(d){return x(d.chromEnd_y)})
        .attr("x2", function(d) {return x(d.chromEnd_y) - y.bandwidth()/2});
    renderCytobands(loaded_data);
    

}

function renderCytobands(loaded_data) {
    bands_g = g.append("g").attr('class', "bands");
    bands = bands_g.selectAll("rect")
      .data(loaded_data['cytoBandData'])
      .enter()
      .append("rect")
      .attr("class", "bar")
      .attr("x",  function(d) { return x(d.chromStart)})
      .attr("y", function(d, i) {return y(d.chrom) + y.bandwidth()/4; })
      .attr("height", function(d, i) {return  y.bandwidth()/2; })
      .attr("width", function(d) {return x(d.chromEnd) - x(d.chromStart);})
      .attr("fill", function(d) {
        if(d.gieStain=='gneg') {//gneg', 'gpos25', 'gpos50', 'gpos75', 'gpos100', 'acen', 'gvar','stalk
          return "#9d1cb2";
        } else if (d.gieStain=='gpos25') {
          return "#cdde20";
        } else if (d.gieStain=='gpos50') {
          return "#ffc200";
        } else if (d.gieStain=='gpos75') {
          return "#ff9900";
        } else if (d.gieStain=='gpos100') {
          return "#7a5547";
        } else if (d.gieStain=='acen') {
          return "#5f7d8c";
        } else if (d.gieStain=='gvar') {
          return "#9e9e9e";
        } else if (d.gieStain=='stalk') {
          return "#ec1261";
        }
      });
    renderVariations(loaded_data);
}

function renderVariations(loaded_data) {
    variations = g.selectAll("circle")
        .data(loaded_data["variationData"])
        .enter()
        .append("rect")
        .attr("y", function(d) {return (y(d.CHROM));})
        .attr("x", function(d) {return x(d.POS)})
        .attr("height", y.bandwidth())
        .attr("width", 5)
        .attr("fill", "#red");
    
     texts = g.append("g").selectAll('sasa')
     
        .data(loaded_data['pqArmData'])
        .enter()
        .append("text")
        .attr("x", function(d2) { console.log(x(d2.chromEnd_y)); return x(d2.chromEnd_y) +5;})
        .attr("y", function(d2) {return y(d2.chrom) - y.bandwidth()/4; })
        .attr("dy", y.bandwidth())
        .attr("fill", "blue")
        .text(function(d2) {return  loaded_data["variationData"].length + " variations"});   
    
    overlay = g.append("g").selectAll('sasa')
        .data(loaded_data['pqArmData'])
        .enter()
        .append("rect")
        .attr("x", 0)
        .attr("y", function(d2) {return y(d2.chrom)})
        .attr("height", y.bandwidth())
        .attr("width", function(d2) { return x(d2.chromEnd_y)})
        .attr("fill", "white")
        .attr("opacity", 0)
        .attr("data-chrom", function(d2) {return d2.chrom;})
        .on("click", testMM)
        .text(function(d2) {return data2[d2.chrom].location.length + " variations"});


}


function displayGraph(loaded_data) {
    if (Object.keys(loaded_data).length ==5) {
            renderChrom(loaded_data);
    }
}


function renderPage() {
    let dataPromise = new Promise(function(resolve, reject) {
        d3.json("/getChromList", function(error, data) {
            if (error) {
                reject ("Can't load data from " + "/getChromList");
                return;
            }
            resolve(data);
        });
    });
   
   dataPromise.then(
       result => {
           render(result)
    });
}


function render(chroms) {
    d3.json("/getPQArmData",  function(error, data) {
        x.domain([0, d3.max(data, function(d) { return d.chromEnd_y; })]);
        y.domain(data.map(function(d) { return d.chrom; }));
                          
        g.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
    
        g.append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(y));
      })

    $(chroms).each(function (i, e) {
        var loaded_data = {}
        var pqArmData = 0, cytoBandData = 0, censusData = 0, variationData = 0, geneData = 0;
        loadData("pqArmData", "/getPQArmData/" + e[0], pqArmData, loaded_data);
        loadData("cytoBandData", "/getCytoBand/" + e[0], cytoBandData, loaded_data);
        loadData("censusData", "/getCensusData/" + e[0], censusData, loaded_data);
        loadData("geneData", "/getGeneData/" + e[0], geneData, loaded_data);
        loadData("variationData", "/getVariationAllDetails/{{patient.pk}}/" + e[0], variationData, loaded_data);

    });
}


renderPage();


              

function testMM (d) {
  location.href = "/cv4/{{patient.pk}}/" + d.chrom;
}


</script>
               	</div>
        	</div>
	</div>
    
     
      </div>
    </div>
    <a href="/admin/gv/patient/add/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">New Patient</a>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>


